/* ---- button ---- */

.button {
	display: inline-block;
	padding: 0.5em 1.0em;
	background: #EEE;
	border: none;
	border-radius: 7px;
	background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
	color: #222;
	font-family: sans-serif;
	font-size: 16px;
	text-shadow: 0 1px white;
	cursor: pointer;
}

.button:hover {
	background-color: #8CF;
	text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
	color: #222;
}

.button:active,
.button.is-checked {
	background-color: #28F;
}

.button.is-checked {
	color: white;
	text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
	box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
	margin-bottom: 20px;
}

.button-group:after {
	content: '';
	display: block;
	clear: both;
}

.button-group .button {
	float: left;
	border-radius: 0;
	margin-left: 0;
	margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */



/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body {
	color: #404040;
	font: 18px 'Helvetica', 'Segoe UI', Arial, sans-serif;
}

/*--------------------------------------------------------------
Header styles
--------------------------------------------------------------*/

.masthead {
    padding-bottom: 1em;
    background: #eee;
	text-align: center;
}

.site-title {
    margin: 0;
    padding: 1em 0 0;
    font-size: 2em;
    font-weight: 300;
    color: black;
}

/*--------------------------------------------------------------
Main area
--------------------------------------------------------------*/

.main-area {
	padding: 1em;
}

.gallery {
	margin: 0 auto;
	max-width: 80em;
}

/* Flex layout */
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	transition: all .2s;
}

.photo {
	box-sizing: border-box;
	padding: 5px;
}



@media screen and (min-width: 40em) {
	.photo {
		width: 50%;
	}
	.double {
		width: 100%;
	}
}

@media screen and (min-width: 60em) {
	.photo {
		width: 33%;
	}
	.double {
		width: 66%;
	}
}

@media screen and (min-width: 80em) {
	.photo {
		width: 25%;
	}
	.double {
		width: 50%;
	}
}

/*--------------------------------------------------------------
Gallery items
--------------------------------------------------------------*/

.photo figure {
	position: relative;
	margin: 0;
	overflow: hidden;
}

.photo img {
	display: block;
	width: 100%;
}

.photo figcaption {
	position: absolute;
	box-sizing: border-box;
	bottom: -7em;
	width: 100%;
	padding: 0 1em;
	background: hsla(0, 0%, 100%, .75);
	transition: bottom .2s;
}

.photo h2 {
	font-size: 1.2em;
	font-weight: lighter;
}

.photo a {
	color: black;
}

.photo a:hover figcaption {
	bottom: 0;
}

.meanrank, .crayolarank, .plainrank, .recolorrank, .toonrank, .islandizerank {
	display: none;
}

.circleContainer {
	width: 100%;
	padding: 1.5%;
}

.circles {
	width: 15%;
}

.lightboxCircleContainer {
	width: 30%;
	padding: 1.5%;
	display: none;
}

.fancybox-thumbs>ul>li {
	box-sizing: content-box;
}

.fancybox-thumbs {
	display: block;
}

/*******
Pager
 *****/

#links {
	position: fixed;
	bottom: 10px;
	width: 100%;
	padding-top: 10px;
	list-style: none;
	text-align: center;
	z-index: 99999;
}

#links li {
	display: inline;
	padding: 0 5px;
}

#links li label {
	width: 12px;
	height: 12px;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}

#links li.active label {
	background-color: white;
}
