@font-face {
    font-family: 'gt-walsheim-regular';
    src: url("../fonts/GT-Walsheim-Regular.eot");
    src: url("../fonts/GT-Walsheim-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim-Regular.woff") format("woff"), url("fonts/GT-Walsheim-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'gt-walsheim-regular';
    src: url("../fonts/GT-Walsheim-Regular-Oblique.eot");
    src: url("../fonts/GT-Walsheim-Regular-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim-Regular-Oblique.woff") format("woff"), url("fonts/GT-Walsheim-Regular-Oblique.ttf") format("truetype");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: 'gt-walsheim-bold';
    src: url("../fonts/GT-Walsheim-Bold.eot");
    src: url("../fonts/GT-Walsheim-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim-Bold.woff") format("woff"), url("fonts/GT-Walsheim-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'gt-walsheim-bold';
    src: url("../fonts/GT-Walsheim-Bold-Oblique.eot");
    src: url("../fonts/GT-Walsheim-Bold-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim-Bold-Oblique.woff") format("woff"), url("fonts/GT-Walsheim-Bold-Oblique.ttf") format("truetype");
    font-weight: normal;
    font-style: italic
}

/* ---- isotope ---- */



/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body {
    color: #404040;
    font: 18px 'Helvetica', 'Segoe UI', Arial, sans-serif;
}

/*--------------------------------------------------------------
Header styles
--------------------------------------------------------------*/

.masthead {
    padding-bottom: 1em;
    background: #eee;
    text-align: center;
}

.site-title {
    margin: 0;
    padding: 1em 0 0;
    font-size: 2em;
    font-weight: 300;
    color: black;
}

/*--------------------------------------------------------------
Main area
--------------------------------------------------------------*/

.gallery {
    margin: 0 auto;
    max-width: 80em;
}

/* Flex layout */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all .2s;
}

.pinkart {
    box-sizing: border-box;
    padding: 5px;
}



@media screen and (min-width: 40em) {
    .pinkart {
        width: 50%;
    }
    .double {
        width: 100%;
    }
}

@media screen and (min-width: 60em) {
    .pinkart {
        width: 25%;
    }
    .double {
        width: 66%;
    }
}

@media screen and (min-width: 80em) {
    .pinkart {
        width: 20%;
    }
    .double {
        width: 50%;
    }
}

/*--------------------------------------------------------------
Gallery items
--------------------------------------------------------------*/

.pinkart figure {
    position: relative;
    margin: 0;
    overflow: hidden;
}

.pinkart img {
    display: block;
    width: 100%;
}

.pinkart figcaption {
    position: absolute;
    box-sizing: border-box;
    bottom: -7em;
    width: 100%;
    padding: 0 1em;
    background: hsla(0, 0%, 100%, .75);
    transition: bottom .2s;
}

.pinkart h2 {
    font-size: 1.2em;
    font-weight: lighter;
}

.pinkart a {
    color: black;
}

.pinkart a:hover figcaption {
    bottom: 0;
}

.meanrank, .crayolarank, .pixelrank, .recolorrank, .toonrank, .islandizerank {
    display: none;
}

.circleContainer {
    width: 100%;
    padding: 1.5%;
}

.circles {
    width: 15%;
}

.lightboxCircleContainer {
    width: 30%;
    padding: 1.5%;
    display: none;
}

/***
.fancybox-thumbs>ul>li {
	box-sizing: content-box;
}

.fancybox-thumbs {
	display: block;
}
***/
/*******
Pager
 *****/

#links {
    position: fixed;
    bottom: 10px;
    width: 100%;
    padding-top: 10px;
    list-style: none;
    text-align: center;
    z-index: 99999;
}

#links li {
    display: inline;
    padding: 0 5px;
}

#links li label {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

#links li.active label {
    background-color: white;
}

.lg-group {
    text-align: center;
    margin: auto !important;
}


.lg-outer .lg-thumb-item img {
    /*    height: 55px; !important; */
    /* margin-right: -1px; */
    width: 46px;
    height: 46px;
    object-fit: unset;
}

.lg-outer.lg-pull-caption-up.lg-thumb-open .lg-sub-html {
    bottom: 70px;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
    border-color: white;
}

.lg-outer .lg-thumb-item {
    border: 2px solid gray;
    border-radius: 50%;
}

.lg-sub-html {
    max-width: 300px;
    text-align: left;
    /* margin: 0 auto; */
    font-size: 14px;
    font-family: 'gt-walsheim-regular', monospace;
    letter-spacing: 0.5px;
    padding: 10px 10px;
    left:70px
}

.lg-sub-html p {
    font-size: 14px;
}

div#lg-counter {
    display: none;
}


/* ---- button ---- */
#sorts {
    margin: 14px 20px 0 10px;
    float: right;
}

.button {
    display: inline-block;
    padding: 0.25em 1.0em;
    background: none;
    border: 2px solid white;
    border-radius: 7px;
    color: white;
    font-family: 'gt-walsheim-regular', monospace;
    letter-spacing: 0.5px;
    font-size: 14px;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    color: white;
}

.button:active,
.button.is-checked {
    background-color: white;
    color: #FA1B66;
}

.button.is-checked- {
    color: white;
}

.button:active {
}

h1 a, button a {
    text-decoration: none;
    color: white;
}

/* ---- button-group ---- */

.button-group {
    margin-bottom: 20px;
}

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
    float: left;
    border-radius: 0;
    margin-left: -2px;
    margin-right: 0;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }


#about {
    max-width: 700px;
    margin: 30px;
    font-family: 'gt-walsheim-regular';
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 32px;
}

#about h2 {
    font-size: 48px;
    height: 52px;
    letter-spacing: 0.5px;
    line-height: 52px;
    margin-bottom: 24px;
    margin-top: 0px;
    color: #FA1B66;
}

#about .lead {
    font-family: 'gt-walsheim-bold';
}

.photo {
    width: 20%;
    box-sizing: border-box;
    padding: 5px;
}

.photo img {
    width: 100%;
}

.gallery {
    margin-top: 60px;
    display: block;
    width: 100%;
}

figure {
    margin: 0;
}

figcaption {
    display: none;
}

@media screen and (max-width: 730px) {
    #sorts {
        display: none;
    }
}

/*--------------------------------------------------------------
Header styles
--------------------------------------------------------------*/

.masthead {
    padding-bottom: 1em;
    background: #FA1B66;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
    z-index: 10;
    font-family: 'gt-walsheim-regular', monospace;
    /* margin-left: -10px; */
}

.site-title {
    margin: 0;
    padding: 6px 0 0 13px;
    font-size: 2em;
    font-weight: 400;
    color: white;
    float: left;
}

.site-description {
    display: none;
}

nav {
    margin: 14px 0 0 0;
    padding: 0 13px 0 .5em;
    float:right;
}

.lg-thumb div:first-child {
    background-color: gray;
}

.lg-thumb div:first-child img {
    display: none;
}